.box {
  width: 200px;
  height: 200px;
  background-color: #000;
  outline: 1px solid #000;
  margin: 100px;
  position: relative;
}

.wrapper {
  background-color: #bbb;
  position: relative;

  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  font-size: 0;
  white-space: nowrap;
}

.wrapper div {
    background-color: #ccc;
    height: 200px;
    box-shadow: 0 0 0 1px red inset;
    display: inline-block;
    font-size: 1rem;
    white-space: normal;
}

.item-1 {
    width: 120px;
}
.item-2 {
    width: 100px;
}
.item-3 {
    width: 140px;
}
.item-4 {
    width: 220px;
}

.box.box-2 .wrapper {
    white-space: normal;
}

.box.box-2 .item-1,
.box.box-2 .item-2,
.box.box-2 .item-3,
.box.box-2 .item-4 {
    width: 100%;
}

.box.box-2 .item-1 { height: 120px; }
.box.box-2 .item-2 { height: 100px; }
.box.box-2 .item-3 { height: 140px; }
.box.box-2 .item-4 { height: 220px; }
