body {
  margin: 0;
  padding: 0;
}

.main-banner {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 100px;
	outline: 1px solid red;
}

.main-banner ul {
	margin: 0;
	padding: 0;
	display: flex;
	will-change: transform;
}

.main-banner ul li {
	width: 80%;
	height: 30vh;
  background-color: #ccc;
  box-shadow: 0 0 0 1px #000 inset;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;

	flex-shrink: 0;
}

.main-banner ul .banner-02 {
	background-color: red;
}

.main-banner ul .banner-03 {
	background-color: blue;
}

.main-banner ul .banner-04 {
	background-color: green;
}

.main-banner.vertical {
	height: 40vh;
}

.main-banner.vertical ul {
	flex-direction: column;
}
